/*html { 
height: 100%; 
}*/

body {
width: 100%;
padding: 0;
margin: 0;
background-image: url("../images/eight_horns.png");
}

header {
height: 118px;
padding: 0;
margin: 0;
background-color:white;
color:#fff;
border-bottom: 3px solid #cccccc;

}

h1 {
  margin: 0;  
  padding: 40px 0px 20px 40px; 
  font-size: 40px;
  color: #4aaaa5;     
  font-weight:bold;
  background-color: white;
}

h2 {

  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
}

h3 {

  background-color: green;
}

.text-block {
  display: inline-block;
  width: 250px;
  margin: 0px 0px 0px 200px;
  background-color: #4aaaa5;
  padding: 45px 45px 45px 45px;
  font-family: 'Georgia', Times, Times New Roman, serif;  
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

nav {
  margin: 0px 70px 0px 0px;
  padding: 40px 50px 40px 40px;
  list-style: none;
  align-items: center;
  float: right;
  display: inline-block; 
  font-size: 23px;

}

nav a {
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  color: #B2BABB;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
}

hr {

  width: 600px;
  margin: 0 auto;
  background-color: #D5DBDB;
  height: 2px;
}

.main-area {
  width: 100%;
  overflow: auto;
  margin: 0;
}

.main-section-content {
  width: 700px;
  margin: 50px 0px 60px 200px;
  border: 3px solid #dddddd;
  display: inline-block;
  background-color: #ffffff;
}

.social {

  margin: 50px 130px 0px 0px;
  padding: 20px;
  float: right;
  height: 250px;
  width: 350px;
  display: inline-block;
  border: 3px solid #D5DBDB;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;  
  font-size: 20px;
  color: #4aaaa5;  
  background-color: white;
}

#bio-image {
  width: 280px;
  height: 350px;
  margin: 0;
  padding: 80px 40px 40px 40px;
  display: inline-block;
  float: left;
}

p {
  margin: 0 auto;
  padding: 40px 40px 40px 40px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #696969;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}

.social-images {
  padding: 50px 20px 20px 20px;
  margin: 0 auto;
  float: left;
}

.social-links {

  margin: 0;
  padding: 10px;
  text-align: inherit;
}

hr.social-divider {

  width: 300px;
  margin: 0 auto;
  background-color: #D5DBDB;
  height: 2px;
}


footer {
  margin: 0 auto;
  padding: 40px 0px 40px 0px;
  margin-top: 50px;
  bottom: 0;
  width: 100%;
  vertical-align: center;
  text-align: center;
  background-color: #666666;
  color: #c1c1c1;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-top: solid 10px #4aaaa5;

}

h3 {

  background-color: green;
}

.project {  

  position: relative;
  float: left;
  width: 290px;
  overflow: auto;
  margin: 30px;
}


.project img {

  width: 100%;
  width: 290px;
  height: 270px;

}

.project h3 {
  background-color: #4aaaa5;
  position: absolute;
  bottom: 12px;
  margin: 0 auto;
  padding: 15px 0px 15px 0px;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: white;
  width: 100%;
}

form {
  margin: 0px 0px 80px 0px;
}

form p {
  padding: 0px;
  margin: 20px 20px 0px 48px;

}

form textarea {
  padding: 2px;
  margin: 20px 20px 0px 48px;
  font-family: 'Georgia', Times, Times New Roman, serif;

}

.submit {
  padding: 10px 30px;
  margin: 15px 0px 0px 48px;
  background-color: #4aaaa5;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
