/*html, body {
  height: 100%;
  margin: 0;
  }*/

  body {
   padding: 0;
   margin: 0;
   background-image: url("eight_horns.png");


 }

 header {
   overflow: auto;
   height: 115px;
   /*display:block;*/
   padding: 0;
   margin: 0;
   background-color:white;
   color:#fff;
   border-bottom: 3px solid #D5DBDB;

 }
 h1{
  margin: 0;  
  padding: 40px 0px 20px 40px; 
  font-size: 40px;
  color: #4aaaa5;     
  font-weight:bold;
}

.text-block {
 display: inline;
 width: 300px;
 margin: 0px 0px 0px 200px;
 background-color: #4aaaa5;
 padding: 50px;
 font-family: 'Georgia', Times, Times New Roman, serif;  
/* font-size: 40px;
*/ font-weight: bold;
}
nav {
  
 padding: 50px;
 list-style: none;
 float:right;
 align-items: center;
 display: inline; 
 

}

footer {
  padding: 0;
  margin: 0;
  margin-bottom: -50px;
}

a {

  text-decoration: none;
}
p {
  margin: 0;
  padding: 0px 40px 40px 40px;


}

.container {

  width: 650px;
  margin: 50px 0px 0px 200px;
  padding: 0;
  border: 3px solid #D5DBDB;
}

hr {
  width: 570px;

}


.social {

  float: right;
}

#bio-image {

  padding: 40px;
}
